<div class="container">
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active':selectedTab==='balance'}" aria-current="page"
        [routerLink]="['/portfolio','balance']"><i class="bi bi-arrow-down-up"></i> Balance</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active':selectedTab==='assets'}" [routerLink]="['/portfolio','assets']"> <i
          class="bi bi-bank"></i> Assets</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active':selectedTab==='accounts'}" routerLink="/portfolio/accounts"> <i
          class="bi bi-card-checklist"></i> Accounts</a>
    </li>
  </ul>
</div>
<app-balance *ngIf="selectedTab==='balance'"></app-balance>
<app-assets *ngIf="selectedTab==='assets'"></app-assets>